@import "tailwindcss";

/* Hide scrollbar for all scrollable elements */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}
